{% extends "lucura/base.html" %}

{% block early_includes %}
	<link rel="stylesheet" media="screen" type="text/css" href="{{ STATIC_URL }}css/list.css"> 
	<link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="Stylesheet" />
{% endblock %}

{% block content %}
<!-- <div id="gameslist" >
	{% if latest_games_list %}
		<ul>
			{% for game in latest_games_list %}
				<li><a href="{{game.id}}/">{{game.title}}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No games yet, make some!</p>
	{% endif %}
</div> -->

<div class="gameBox">
	<div id="topGames" class="listBack listFull">
		<h1>Top Games</h1>
		<div id="topGameList" class="listDiv">
			<div class="nameColumn listColumn">
				{%for game in top_games_list%}
				<div class="field" gameID="{{game.ID}}">
					{{game.Title}}
				</div>
				{%endfor%}
			</div>
			<div class="authorColumn listColumn">
				{%for game in top_games_list%}
				<div class="field {{game.Type}}" gameID="{{game.ID}}">
					{{game.Author}}
				</div>
				{%endfor%}
			</div>
			<div class="studentRatingColumn listColumn">
				{%for game in top_games_list%}
				<div class="field" gameID="{{game.ID}}">
					<div class="classification" id="studentRating{{game.ID}}">
						<div class="cover">
						</div>
						<div class="progress" style="width:{{game.StudentRating}}%;">
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
			<div class="teacherRatingColumn listColumn">
				{%for game in top_games_list%}
				<div class="field" gameID="{{game.ID}}">
					<div class="classification" id="teacherRating{{game.ID}}">
						<div class="cover">
						</div>
						<div class="progress" style="width:{{game.TeacherRating}}%;">
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
			<div class="playsColumn listColumn">
				{%for game in top_games_list%}
				<div class="field" gameID="{{game.ID}}">
					{{game.Plays}}
				</div>
				{%endfor%}
			</div>
			<div class="averageRatingColumn listColumn">
				{%for game in top_games_list%}
				<div class="field" gameID="{{game.ID}}">
					<div class="classification" id="avgRating{{game.ID}}">
						<div class="cover">
						</div>
						<div class="progress" style="width:{{game.AverageRating}}%;">
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
</div>
<div class="buttonBox">
	<a href='/games_list/'>
		<div class="buttonSize">
			<h1>View all games</h1>
		</div>
	</a>
</div>
<div class="gameBox">
	<div id="userGames" class="listBack listLeft">
		<h1>Your Games</h1>
		<div id="userGameList" class="listDiv">
			<div class="nameColumn listColumn">
				{%for game in user_games_list%}
				<div class="field" gameID="{{game.ID}}">
					{{game.Title}}
				</div>
				{%endfor%}
			</div>
			<div class="playsColumn listColumn">
				{%for game in user_games_list%}
				<div class="field" gameID="{{game.ID}}">
					{{game.Plays}}
				</div>
				{%endfor%}
			</div>
			<div class="averageRatingColumn listColumn">
				{%for game in user_games_list%}
				<div class="field" gameID="{{game.ID}}">
					<div class="classification" id="avgRating{{game.ID}}">
						<div class="cover">
						</div>
						<div class="progress" style="width:{{game.AverageRating}}%;">
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
	<div id="topUsers" class="listBack listRight">
		<h1>Top Users</h1>
		<div id="topUserList" class="listDiv">
			<div class="nameColumn listColumn">
				{%for user in top_players_list%}
				<div class="field {{user.Type}}">
					{{user.Username}}
				</div>
				{%endfor%}
			</div>
			<div class="playedColumn listColumn">
				{%for user in top_players_list%}
				<div class="field">
					{{user.Played}}
				</div>
				{%endfor%}
			</div>
			<div class="scoreColumn listColumn">
				{%for user in top_players_list%}
				<div class="field">
					{{user.Score}}¥
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
</div>
<div class="gameBox">
	<div id="recentPlayed" class="listBack listLeft">
		<h1>Recently Played</h1>
		<div id="recentList" class="listDiv">
			<div class="nameColumn listColumn">
				{%for game in recently_played_list%}
				<div class="field" gameID="{{game.ID}}">
					{{game.Title}}
				</div>
				{%endfor%}
			</div>
			<div class="attemptsColumn listColumn">
				{%for game in recently_played_list%}
				<div class="field" gameID="{{game.ID}}">
					{{game.Attempts}}
				</div>
				{%endfor%}
			</div>
			<div class="scoreColumn listColumn">
				{%for game in recently_played_list%}
				<div class="field" gameID="{{game.ID}}">
					{{game.Score}}%
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
	<div id="gamesChat" class="listBack listRight">
		<h1>Messages</h1>
		<div id="chatList" class="listDiv">
			<div id="receivedMessages">
			</div>
			<div id="inputSpace">
				<input style="resize: none;" id="inputMessage" placeholder="Write a message (max 78 chars)" maxlength="78"></textarea>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block includes %}
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/ellipsis.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/messaging.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-ui-1.8.23.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/listFunctionality.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/resizer.js"></script>
{% endblock %}