/*Font delcarations*/

@font-face {
  font-family: "LOT";
  src: url("LOT.otf");
}

/*----------Header----------*/

body {
	font-family: Verdana;
	font-size:13px;
	text-align: center;
	height:100%;
	color: #66D7CB;
	line-height: 1;
	overflow: auto;
	width: auto;
	/*background: #ADDCDA;*/
	background: url('../img/blueStripe4.png');
}

header{
	background: white;
	border-bottom: 5px solid #DBDBDB;
	margin: 0 0 30px;
	text-align: left;
}

/*footer{
	position:absolute;
   bottom:0;
   width:100%;
   height:20%;
   background: #000;
}*/

#bodyContainer{
	width: 100%;
	height: 100%;
}

#footerFader{
	position:absolute;
   bottom:20px;
   width:100%;
   height:5%;   /* Height of the footer */
   background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	z-index: 120;
}

#myFooter{
	position:absolute;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
   background: #6d0019;
   color: white;
}

#myFooter a{
   color: white;
}

header.global {
	display:block;
	z-index: 1000;
	min-width: 980px;
	height:55px;
	width: 100%;
	border: 0;
	margin: 0;
	margin-bottom: 20px;
}

#header_container {
	position: relative;
	z-index: 1000;
	width: 100%;
	top: 0;
	height: 77px;
	background: url('../img/header_shadow_bottom.png') repeat-x 0 69px;
}

header.global ul.main {
	height:69px;
	overflow: hidden;
	width: 100%;
	list-style: none;
}
header.global ul.main li.menu{
	height:69px;
	position: relative;
}
header.global ul.main li{
	display:block;
	float:left; /*makes everything stack from the left*/
	overflow: hidden;
}

header .gradientOLD {
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

header .gradient2 {
	background: rgb(185,3,46); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(185,3,46,1) 0%, rgba(162,2,39,1) 44%, rgba(130,0,30,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,3,46,1)), color-stop(44%,rgba(162,2,39,1)), color-stop(100%,rgba(130,0,30,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(185,3,46,1) 0%,rgba(162,2,39,1) 44%,rgba(130,0,30,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(185,3,46,1) 0%,rgba(162,2,39,1) 44%,rgba(130,0,30,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(185,3,46,1) 0%,rgba(162,2,39,1) 44%,rgba(130,0,30,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(185,3,46,1) 0%,rgba(162,2,39,1) 44%,rgba(130,0,30,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9032e', endColorstr='#82001e',GradientType=0 ); /* IE6-9 */
}

header .gradient3 {
	background: rgb(228,4,56); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(228,4,56,1) 0%, rgba(209,3,51,1) 44%, rgba(182,0,42,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,4,56,1)), color-stop(44%,rgba(209,3,51,1)), color-stop(100%,rgba(182,0,42,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(228,4,56,1) 0%,rgba(209,3,51,1) 44%,rgba(182,0,42,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(228,4,56,1) 0%,rgba(209,3,51,1) 44%,rgba(182,0,42,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(228,4,56,1) 0%,rgba(209,3,51,1) 44%,rgba(182,0,42,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(228,4,56,1) 0%,rgba(209,3,51,1) 44%,rgba(182,0,42,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e40438', endColorstr='#b6002a',GradientType=0 ); /* IE6-9 */
}

header .gradientLimeJSAdjust {
	background-image: linear-gradient(bottom, rgb(90,30,34) 0%, rgb(140,53,59) 100%);
	background-image: -o-linear-gradient(bottom, rgb(90,30,34) 0%, rgb(140,53,59) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(90,30,34) 0%, rgb(140,53,59) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(90,30,34) 0%, rgb(140,53,59) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(90,30,34) 0%, rgb(140,53,59) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(90,30,34)),
		color-stop(1, rgb(140,53,59))
	);
}

header .gradient {
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}


/*Problems selecting this, why??
header.global .container ul.main li.menu1{
	width: 50.0%;
}
header.global .container ul.main li.menu2{
	width: 16.0%;
}
header.global .container ul.main li.menu3{
	width: 16.0%;
}
header.global .container ul.main li.menu4{
	width: 16.0%;
}
*/


#menu1{
	width:16.0%;
}
#menu2{
	width:16.0%;
}
#menu3{
	width:16.0%;
}
#menu4{
	width:20.0%;
}
#logo{
	margin-top: 20px;
	padding: 0;
	width: 100%;
	font-size: 50px;
	text-align: justify;
	letter-spacing: 100%;
}


header.global button.button{
	display: block;
	position: relative;
	height: 69px;
	width: 100%;
	border: 0;
	text-decoration: none;
}
header.global a.button{
	display: block;
	position: relative;
	height: 69px;
	width: 100%;
	border: 0;
	text-decoration: none;
}

header.global span.border.left{
	left: 0;
	background-color: white;
	opacity: 0.08;
	-moz-opacity: 0.08;
	filter: alpha(opacity=8);
}
header.global span.border.right{
	right:0;
	background-color: black;
	opacity: 0.15;
	-moz-opacity: 0.15;
	filter: alpha(opacity=15);
}
header.global span.border {
	display: block;
	position: absolute;
	top: 0;
	width: 1px;
	height: 89px;
	background-color: white;
}
header.global .label.main {
	margin: 0 0 0 20px;
	padding-top: 15px;
	padding-bottom: 4px;
	font: bold 19px/21px LOT, sans-serif;
}

header.global button.button .label {
	display:block;
	color:white;
	/*text-shadow: 0 -1px black;*/
	text-shadow: -3px -3px #000000;
}
header.global a.button .label {
	display:block;
	color:white;
	/*text-shadow: 0 -1px black;*/
	text-shadow: -3px -3px #000000;
}

.lucuraTitle{
	display:block;
	color:white;
	/*text-shadow: 0 -1px black;*/
	text-shadow: -3px -3px #000000;
}

.sublabel{
	margin:0 0 0 20px;
	display: block;
	color: white;
	font-size: 10px;
	text-shaow:0-1px white;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
}

header.global .menu .gradient_edge{
	display: block;
	top: 0;
	right:0;
	position: absolute;
	width:30px;
	height: 69px;
}


/*--------Stacks-------------*/


.stack{
	display: none;
	position: relative;
}

/*-----------Login------------*/

#registration {
	position: relative;
	/*background: #000;*/
	color: #fff;
	margin : auto;

	min-height: 464px;
	/*height: 80%; */
	height: 550px;
}

#registration h1{
	color: #fff;
	position: absolute;
	margin-top: 10px;
	font-size: 22px;
	left:10px;
	width: 80%;
	text-shadow: -5px -5px #000000;
	font-family: 'lot';
	text-align: left;
}

#loginTitle{
	color: #fff;
	margin: auto;
	margin-top: 10px;
	font-size: 30px;
	text-shadow: 2px 2px #000000;
	font-family: 'lot';
}

#LHS {
	position: absolute;
	left:0;
	height: 100%;
	width: 50%;
}

#loginBox {
	position: absolute;
	right:10px;
	height: 45%;
	width: 90%;
	min-width: 373px;
	max-width: 400px;
}

#loginBox form{
	height: 100%;
	width: 100%;
}



.formComponent
{
	position: relative;
		/*border-radius: 39px; 
	-moz-border-radius: 39px; 
	-webkit-border-radius: 39px; */
	height: 20%;
	/*opacity:1;*/
}

.biggerComponent
{
	position: relative;
	height: 30%;
}

.biggerComponent input
{
	/*position: relative;*/
	right: 0;
	bottom: 0;
}


/*Register*/
#RHS {
	position: absolute;
	right:0;
	height: 100%;
	width: 50%;
}

#registerBox {
	position: absolute;
	left:10px;
	height: 100%;
	width: 90%;
	max-width: 400px;
	min-width: 373px;
	min-height: 500px;
}

#registerTitle{
	color: #fff;
	margin: auto;
	margin-top: 10px;
	font-size: 30px;
	text-shadow: 2px 2px #000000;
	font-family: 'lot';
	height:14%;
}

#registerBox form{
	height: 100%;
	width: 100%;
}

.registerComponent
{
	position: relative;
	/*border-radius: 39px; 
	-moz-border-radius: 39px; 
	-webkit-border-radius: 39px; */
	height: 9%;
	/*opacity:1;*/
}

.biggerRegisterComponent
{
	position: relative;
	height: 11.5%;
}

.biggerRegisterComponent input
{
	/*position: relative;*/
	margin-top: 2px;
	right: 0;
	bottom: 0;
}

#registerBox select{
	position: absolute;
	right: 20px;
	bottom: 0;
	text-align: right;
}

/*---------Feed back---------*/

#feedback {
	position: relative;
	/*background: #000;*/
	color: #fff;
	margin : auto;
	top: 10px;

	/*height: 15%;*/
	height: 270px;

	/*-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 10px black;
	border-radius: 5px;
	box-shadow: 0px 0px 4px #62151F;
	-moz-box-shadow: 0px 0px 4px #62151F;
	-webkit-box-shadow: 0px 0px 4px #62151F;*/
}

#feedback h1{
	color: #fff;
	position: absolute;
	margin-top: 10px;
	font-size: 22px;
	left:10px;
	width: 44%;
	text-shadow: -5px -5px #000000;
	font-family: 'lot';
}

.loginBoxes{
	border-radius: 39px; 
	-moz-border-radius: 39px; 
	-webkit-border-radius: 39px; 
	border: 7px solid #FFFFFF;

	min-width: 308px;
	max-width: 400px;

	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}


.gameInfoBoxes{
	border-radius: 39px; 
	-moz-border-radius: 39px; 
	-webkit-border-radius: 39px; 
	border: 7px solid #FFFFFF;

	min-width: 308px;
	max-width: 400px;

	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.feedbackDiv
{
	border-radius: 39px; 
	-moz-border-radius: 39px; 
	-webkit-border-radius: 39px; 
	height: 33%;
	opacity:1;
}



#userFeedback {
	position: absolute;
	right:10px;
	height: 100%;
	width: 90%;
}

#chat {
	position: absolute;
	left:10px;
	height: 100%;
	width: 373px;
	
}

#chat h1 {
	color: #fff;
	position: relative;
	margin: auto;
	width: 100%;
	margin-top: 5px;
	font-size: 22px;
	/*width: 44%;*/
	text-shadow: -5px -5px #000000;
	font-family: 'lot';
	text-align: center;
}

#score {
	margin-top: 0px;
	font-size: 30px;
	text-shadow: 3px 3px #000000;
}

.userInput {
	position: absolute;
	margin: 10px;
	width: 50%;
	right: 10px;
}

/*-----------Star System -------------*/

#stars
{
	/*position: absolute;
	margin: 10px;
	
	width: 40%;
	right: 10px;*/
	background: #fff;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 1px #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 4px #62151F;
	-moz-box-shadow: 0px 0px 4px #62151F;
	-webkit-box-shadow: 0px 0px 4px #62151F;
}

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{
	background: url('../img/star.gif') left -1000px repeat-x;
}
.star-rating{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li{
	display: inline;
}
.star-rating a, 
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
	background-position: left bottom;
}
.star-rating a.one-star{
	width:20%;
	z-index:6;
}
.star-rating a.two-stars{
	width:40%;
	z-index:5;
}
.star-rating a.three-stars{
	width:60%;
	z-index:4;
}
.star-rating a.four-stars{
	width:80%;
	z-index:3;
}
.star-rating a.five-stars{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left center;
}	

/* for an inline rater */
.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}

/* smaller star */
.small-star{
	width:50px;
	height:10px;
}
.small-star,
.small-star a:hover,
.small-star a:active,
.small-star a:focus,
.small-star .current-rating{
	background-image: url('../img/star_small.gif');
	line-height: 10px;
	height: 10px;
}























