@font-face {
  font-family: "miso-light";
  src: url("miso-light.ttf");
}

@font-face {
  font-family: "miso-bold";
  src: url("miso-bold.ttf");
}

.gameBox{
	position: relative;
	width: 800px;
	height: 300px;
	/*min-width: 308px;
	max-width: 400px;*/
	margin: auto;
}

.gameBox h1 {
	color: #fff;
	position: relative;
	margin-top: 5px;
	font-size: 22px;
	/*width: 44%;*/
	text-shadow: -5px -5px #000000;
	font-family: 'lot';
}

.fullBox{
	position: relative;
	width: 800px;
	height: 600px;
	/*min-width: 308px;
	max-width: 400px;*/
	margin: auto;
}

.fullBox h1 {
	color: #fff;
	position: relative;
	margin-top: 5px;
	font-size: 22px;
	/*width: 44%;*/
	text-shadow: -5px -5px #000000;
	font-family: 'lot';
}

.extendedBox{
	position: relative;
	width: 800px;
	height: 1000px;
	/*min-width: 308px;
	max-width: 400px;*/
	margin: auto;
}

.extendedBox h1 {
	color: #fff;
	position: relative;
	margin-top: 5px;
	font-size: 22px;
	/*width: 44%;*/
	text-shadow: -5px -5px #000000;
	font-family: 'lot';
}

.listBack{
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 7px solid #FFFFFF;
	height: 100%;
	width: 100%;
	
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 6%, #6d0019 12%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(6%,#8f0222), color-stop(12%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 6%,#6d0019 12%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 6%,#6d0019 12%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 6%,#6d0019 12%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 6%,#6d0019 12%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

.listExtended{
	position: absolute;
	height: 95%;
	width: 100%;
	margin: auto;
}

.listFull{
	position: absolute;
	height: 90%;
	width: 100%;
	margin: auto;
}

.listLeft{
	position: absolute;
	height: 90%;
	width: 45%;
	left:0;
}

.listRight{
	position: absolute;
	height: 90%;
	width: 45%;
	right:0;
}

.listDiv{
	position: absolute;
	/*border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid #FFFFFF;*/
	height: 90%;
	width: 100%;
	bottom: 0;
	
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.listColumn{
	font-family: 'Impact';
	font-size: 20px;
	text-shadow: 2px 2px #000000;
	color: #a4c4c3;
}

#topGameList .listColumn{
	display:block;
	float: left;
	height: 100%;
	width: 16.66%;
	margin: auto;
}

#topGameList .playsColumn{
	width: 6.66%;
	/*padding: 1px;*/
}

#topGameList .nameColumn{
	width: 26.66%;
	/*padding: 1px;*/
}

#topGameList .authorColumn{
	width: 16.66%;
	font-family: 'miso-bold';
	font-size: 24px;
}

#userGameList .listColumn{
	display:block;
	float: left;
	height: 100%;

	margin: auto;
}

#userGameList .nameColumn{
	font-size: 20px;
	width: 54%;
}

#userGameList .playsColumn{
	width: 10%;
}

#userGameList .averageRatingColumn{
	width: 36%;
}

#userGameListFull{
	height: 95%
}

#userGameListFull .listColumn{
	display:block;
	float: left;
	height: 100%;

	margin: auto;
}

#userGameListFull .nameColumn{
	font-size: 20px;
	width: 45%;
}

#userGameListFull .playsColumn{
	width: 5%;
}
#userGameListFull .teacherRatingColumn{
	width: 16.66%;
}
#userGameListFull .studentRatingColumn{
	width: 16.66%;
}
#userGameListFull .averageRatingColumn{
	width: 16.66%;
}

#recentList .listColumn{
	display:block;
	float: left;
	height: 100%;

	margin: auto;
}

#recentList .nameColumn{
	font-size: 20px;
	width: 70%;
}

#recentList .attemptsColumn{
	width: 15%;
}

#recentList .scoreColumn{
	width: 15%;
}

#recentAdditionsList{
	height: 920px;
}

#recentAdditionsList .listColumn{
	display:block;
	float: left;
	height: 100%;
	width: 16.66%;
	margin: auto;
}

#recentAdditionsList .playsColumn{
	width: 6.66%;
	/*padding: 1px;*/
}

#recentAdditionsList .nameColumn{
	width: 26.66%;
	/*padding: 1px;*/
}

#recentAdditionsList .authorColumn{
	width: 16.66%;
	font-family: 'miso-bold';
	font-size: 24px;
}

#topUsers .listColumn{
	display:block;
	float: left;
	height: 100%;

	margin: auto;
}

#topUsers .nameColumn{
	font-size: 24px;
	width: 60%;
	font-family: 'miso-bold';
}

#topUsers .playedColumn{
	width: 10%;
}

#topUsers .scoreColumn{
	width: 30%;
	/*color: #FFF532;*/
	color: #3ea103;
}

#receivedMessages{
	display:block;
	float: left;
	height: 90%;
	width: 100%;
	margin: auto;
}

/*messageHTML = "<div class='messageInstance'><span id='messageUsername'>" + message[1] + ': </span><span id="messageText">' + message[0] + "</span></div>";*/

#receivedMessages .messageInstance
{
	height: 20%;
	width: 100%;
	/*bottom: 0;*/
	/*margin-bottom: 0;*/
	/* essential */
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	/*white-space: nowrap;*/
	overflow: hidden;
	text-align: left;
	font-family: 'miso-bold';
	position: relative;
}

.messageInstance #messageUsername
{
	text-align: left;
	font-size: 18px;
	width: 20%;
	height: 100%
	font-family: 'miso-bold';
	float: left;
	text-shadow: 2px 2px #000000;
	word-wrap: break-word;
	overflow: visible;
}

.messageInstance #messageText
{
	text-align: left;
	font-size: 20px;
	height: 100%;
	width: 80%;
	font-family: 'miso-bold';
	float: left;
	color: white;
	word-wrap: break-word;
}

#inputSpace{
	display:block;
	float: left;
	height: 10%;
	width: 100%;
	bottom: 0;
	margin: auto;
}

#inputSpace input{
	width: 95%;
}

.listColumn .impactStyle{
	font-family: 'Impact';
	font-size: 20px;
	text-shadow: 2px 2px #000000;
}

.teacherColour{
	color: #a90329;
	/*color: #027a53;*/
	/*color: #a54548;*/
}

.studentColour{
	/*color: #b7dad9;*/
	/*color: #89C32E;*/
	/*color: #8bb003;*/
	color: #3b8e8b;
}

.field{
	height: 10%;
	bottom: 0;
	margin-bottom: 0;
	/* essential */
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

#userGameListFull .field{
	height: 5%;
}

#recentAdditionsList .field{
	height: 25px;
}

.classification { 
	position: relative;
	width: 100%;
	height: 100%;
}
.classification .cover {
	position: absolute;
	overflow: auto;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 101;
}
.classification .progress {
	position: absolute;
	/*background-size: 100%;*/
	top: 0px;
	left: 0px;
	height: 100%;
	width: 70%;
	z-index: 102;
}

.teacherRatingColumn .progress{
	background: transparent url(../img/redStarsFull.gif) no-repeat;
}

.studentRatingColumn .progress{
	background: transparent url(../img/turquoiseStarsFull.gif) no-repeat;
}

.averageRatingColumn .progress{
	background: transparent url(../img/goldStarsFull.gif) no-repeat;
}

.cover{
	background: transparent url(../img/emptyStars.gif) no-repeat;
	opacity: 0.2;
}


.buttonBox{
	position: relative;
	width: 800px;
	height: 70px;
	/*min-width: 308px;
	max-width: 400px;*/
	margin: auto;
}

.buttonBox h1 {
	color: #fff;
	position: relative;
	margin-top: 10px;
	font-size: 22px;
	/*width: 44%;*/
	text-shadow: -5px -5px #000000;
	font-family: 'lot';
}

.playButtonBox{
	position: relative;
	width: 100%;
	height: 70px;
	/*min-width: 308px;
	max-width: 400px;*/
	margin: auto;
}

.playButtonBox h1 {
	color: #fff;
	position: relative;
	margin-top: 10px;
	font-size: 22px;
	/*width: 44%;*/
	text-shadow: -5px -5px #000000;
	font-family: 'lot';
}

.buttonSize{
	position: absolute;
	height: 50%;
	width: 45%;
	right: 0;
	bottom: 20px;

	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 7px solid #FFFFFF;

	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019  96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(96%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 96%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.playButtonBox .buttonSize{
	position: absolute;
	height: 50%;
	width: 50%;
	left: 0;
	right: 0;
	bottom: 10px;
	top: 10px;
	margin: auto;

	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 7px solid #FFFFFF;

	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019  96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(96%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 96%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}








.fiveStarsDiv{
	height: 10%;
	width: 100%;
	font-size: 25px;
}

.fiveStars{
	height: 100%;
	width: 100%;
}


